*{
    margin:0;
    padding:0;
}
/*最上面的导航条*/
.nav{
    background-color:#988585;
    border-top:1px solid #D988585;
    border-bottom: 1px solid #988585;
}
.zuoce li{
    list-style:none;
    float:left;
    line-height:55px;
}
ul{
    list-style:none;
}
ul li{
    list-style:none;
    line-height:25px;
    float:right;
    text-align:center;
}
ul li ul li{
    float:none;
    margin:0;
    font-size:12px;
}
ul li ul{
    display:none;
}
.ul{margin-top:390px;}

a{
    height:25px;
    display:inline-block;
    padding:0 10px;
    text-decoration:none;
    color:#306BAE;
    font-size:13px;
}
a:hover{
    color:#CF1A1A;

}
/*盒子头部*/
.box{
    width:1400px;
    margin:0 auto;
}
.header{
    height:98px;
}
.logo{

    padding:0;
    margin:0;
}
.search{
    margin-left:400px;
    height:30px;
    width:519px;
    margin-top: 29px;
    padding: 5px 5px 5px 4px;
}
.search .txt{
    height: 35px;
    width: 419px;
    border: 2px solid #FB2B02;
    border-right: 0 none;
    color: #999999;
    font:12px 宋体;
    float:left;
    padding:0;
}
.btn{
    height: 35px;
    width: 98px;
    padding: 0;
    float:left;
    background-color:#FB2B02;
    cursor: pointer;
    font:20px 宋体;
    color:white;
}

.topmenu{
    display:block;
    width:180px;
    border:2px solid #e4393c;
    margin:0;
    padding:0;
}
.toptitle{
    height:40px;
    line-height:40px;
    text-align:left;
    font-size:11px;
    font-weight:bold;
    color:white;
    background:#e4393c;
    padding-left:20px;
}
.wa{
    height:30px;
    line-height:30px;
    font-size:11px;
    list-style-type:none;
    text-align:left;
    z-index:3;
}
.wa a{
    text-decoration:none;
    color:#313131;
}
.wa a:hover{
    text-decoration:underline;
    font-weight:bold;
    color:#e4393c;
}
.wa:hover{
    border:1px solid #DDD;
    border-right:0;
    height:30px;
    border-left:4px solid #e4393c;
}
.submenu{
    display:none;
    width:715px;
    left:220px;
    position:absolute;
    top:40px;
    border:1px solid #ddd;
    z-index:4;
    background: white;
    box-shadow:0 0 8px #DDD;
    -moz-box-shadow:0 0 8px #DDD;
    -webkit-box-shadow:0 0 8px #DDD;
}
.leftdiv{
    float:left;
    width:200px;
    margin:5px;
}
.leftdiv dl{
    display:block;
    border-bottom:1px solid #eee;
    padding-bottom:6px;
    overflow:hidden;
}
.leftdiv dl dt{
    display:block;
    float:left;
    width:60px;
    text-align:right;
    height:22px;
    line-height:22px;
    padding-right:6px;
}
.leftdiv dl dt a
{
    color: #e4393c;
    font-weight: bold;
    text-decoration: underline;
    font-size: 10pt;
}
.leftdiv dl dd
{
    display: block;
    overflow: hidden;
}
.leftdiv dl dd a
{
    display: block;
    float: left;
    border-left: 1px solid #CCC;
    color: #737373;
    font-size: 9pt;
    padding: 0 8px;
    height: 14px;
    line-height: 14px;
    margin: 4px 0;
}
.rightdiv
{
    float: left;
    width: 200px;
    margin: 5px;
}
.rightdiv dl dd
{
    margin: 3px 0;
}

.rightdiv dl dt
{
    color: #e4393c;
    font-weight: bold;
    font-size: 10pt;
}

.rightdiv dl dd a
{
    font-size: 9pt;
    color: #737373;
    line-height: 22px;
}
.rightdiv dl dd a:hover
{
    color: #737373;
    font-weight: normal;
}
.topmenu li b
{
    display:none;
}

.rightPic
{
    position:relative;
    right:-35px;
    bottom:-20px;
}