body,div,img,span{
    margin: 0px;
    padding: 0px;
}

#ad{
    width: 960px;
    margin: 0 auto;
    display: none;
    position: relative;
    overflow: hidden;
}
#close{
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #c4e3f3;
    top: 0px;
    right: 0px;
    display: none;
    cursor: pointer;
}
#content{
    width: 960px;
    height: 1000px;
    background: #ccc;
    margin: 0 auto;
}