<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guchunhui.dao.BookMapper">

    <resultMap type="com.guchunhui.model.Book" id="BookResult">
        <id property="bookId" column="book_id"/>
        <result property="bookName" column="book_name"/>
        <result property="author" column="author"/>
        <result property="year" column="year"/>
        <result property="price" column="price" />
        <result property="description" column="description"/>
        <result property="cover" column="cover"/>
        <result property="fatherClass" column="fatherclass"/>
        <result property="sonClass" column="sonclass"/>


    </resultMap>

    <cache/>
    <insert id="insertBook" parameterType="Book" useGeneratedKeys="true" keyProperty="book_id">
        INSERT INTO book(book_name,author,year,price,description,cover,fatherclass,sonclass) VALUE (
        #{bookName},#{author},#{year},#{price},#{description},#{cover},#{fatherClass},#{sonClass}
        )
    </insert>

    <select id="findBookById" resultMap="BookResult" parameterType="long">
        SELECT * FROM book WHERE book_id = #{bookId}
    </select>

    <!--<select id="findBooksByName" resultMap="BookResult" parameterType="Book">-->
        <!--SELECT * FROM book WHERE TRUE-->
        <!--<if test="bookName != null">-->
            <!--AND book_name like #{bookName}-->
        <!--</if>-->
    <!--</select>-->

    <select id="findBooksByMessage" resultMap="BookResult" parameterType="String">
        <bind name="pattern" value="'%' + _parameter + '%'" />
        SELECT * FROM book WHERE
        <if test="_parameter != null">
        book_name like #{pattern}
        </if>
        <if test="_parameter != null">
            OR author like #{pattern}
        </if>
        <if test="_parameter != null">
            OR description like #{pattern}
        </if>
        <if test="_parameter != null">
            OR year like #{pattern}
        </if>
    </select>

    <select id="findAllBooks" resultMap="BookResult">
        SELECT * FROM book
    </select>

    <select id="findBooksByClass" resultMap="BookResult" parameterType="com.guchunhui.queryCondition.BookQuery">
        SELECT * FROM book WHERE TRUE
        <if test="father != null">
            AND fatherclass = #{father}
        </if>
        <if test="son != null and 0!=son">
            AND sonclass = #{son}
        </if>
        ORDER BY sonclass
    </select>

    <delete id="deleteBookById" parameterType="long">
        DELETE FROM book WHERE  book_id = #{bookId}
    </delete>

    <delete id="deleteBookByName" parameterType="String">
        DELETE FROM book WHERE  book_name = #{bookName}
    </delete>

</mapper>