<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guchunhui.mapper.BookMapper">

    <resultMap type="com.guchunhui.model.Book" id="BookResult">
        <id property="bookId" column="book_id"/>
        <result property="bookName" column="book_name"/>
        <result property="author" column="author"/>
        <result property="year" column="year"/>
        <result property="price" column="price"/>
        <result property="description" column="description"/>
        <result property="cover" column="cover"/>
        <result property="species" column="species"/>

    </resultMap>

    <insert id="insertBook" parameterType="Book" useGeneratedKeys="true" keyProperty="book_id">
        INSERT INTO book(book_name,author,year,price,description,cover,species) VALUE (
        #{bookName},#{author},#{year},#{price},#{description},#{cover},#{species}
        )
    </insert>

    <select id="findBookById" resultMap="BookResult" parameterType="long">
        SELECT * FROM book WHERE book_id = #{bookId}
    </select>

    <select id="findBookByName" resultMap="BookResult" parameterType="String">
        SELECT * FROM book WHERE book_name = #{bookName}
    </select>

    <select id="findAllBooks" resultMap="BookResult">
        SELECT * FROM book
    </select>

    <delete id="deleteBookById" parameterType="long">
        DELETE FROM book WHERE  book_id = #{bookId}
    </delete>

    <delete id="deleteBookByName" parameterType="String">
        DELETE FROM book WHERE  book_name = #{bookName}
    </delete>

</mapper>