<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guchunhui.dao.ShoppingListItemMapper">

    <resultMap type="com.guchunhui.model.ShoppingListItem" id="ShoppingListItemResult">
        <id property="id" column="id"/>
        <result property="shoppingListId" column="shoppinglist_id"/>
        <result property="bookId" column="book_id"/>
        <result property="quantity" column="quantity"/>
    </resultMap>
    <cache/>

    <insert id="insertItem" parameterType="ShoppingListItem" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO shoppinglistitem(shoppinglist_id,book_id,quantity) VALUE (
        #{shoppingListId},#{bookId},#{quantity}
        )
    </insert>

    <select id="getItems" parameterType="long" resultMap="ShoppingListItemResult" >
        SELECT * FROM shoppinglistitem WHERE shoppinglist_id = #{shoppingListId}
    </select>


    <delete id="deleteItems" parameterType="long">
        DELETE FROM shoppinglistitem WHERE  shoppinglist_id = #{shoppingListId}
    </delete>


</mapper>